<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">Migliori Vendite</h2>
    </div>
    <ul class="timeline">
      <li><a href="../../assets/img/1.jpg" target="_blank">
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/1.jpg" alt="..." />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Pizza</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">La pizza è un piatto italiano costituito da una base solitamente rotonda e
              piatta di impasto lievitato a base di grano, condita con pomodori, formaggio e spesso altri
              ingredienti vari, cotta poi ad alta temperatura, tradizionalmente in un forno a legna. Una
              piccola pizza viene talvolta chiamata pizzetta.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/2.jpg" target="_blank">
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/2.jpg" alt="..." />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Biryani</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">Il Biryani è un piatto di riso misto. Viene preparato con spezie indiane,
              riso e carne, solitamente pollo o pesce, e talvolta, in aggiunta, uova o verdure come le
              patate in alcune varietà regionali.</p>
          </div>
        </div>
      </li>
      <li>
        <a href="../../assets/img/3.jpg" target="_blank">
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/3.jpg" alt="..." />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Pasta</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">La pasta è un tipo di cibo tipicamente fatto da un impasto non lievitato di
              farina di grano mescolata con acqua o uova, formato in fogli o altre forme, quindi cotto
              tramite bollitura o cottura al forno.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <a href="../../assets/img/4.jpg" target="_blank">
          <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/4.jpg" alt="..." />
          </div>
        </a>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>Torta al cioccolato fuso</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">La torta al cioccolato fuso è un dessert popolare che combina gli elementi
              di una torta al cioccolato e di un soufflé. Il nome deriva dal cuore di cioccolato liquido
              del dessert, ed è noto anche come moelleux al cioccolato, torta di lava al cioccolato o
              semplicemente torta lava.</p>
          </div>
        </div>
      </li>
      <li class="timeline-inverted">
        <div class="timeline-image">
          <h4>
            Fai Parte
            <br />
            Del Nostro
            <br />
            Caffè!
          </h4>
        </div>
      </li>
    </ul>
  </div>
</section>
