<mat-toolbar color="primary">
  <mat-toolbar-row fxlayout="row">
    <span>Password dimenticata</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close=>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typographgy">

  <form [formGroup]="ForgotPasswordform">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="fill" fxFlex>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="ForgotPasswordform.controls.email.touched  && ForgotPasswordform.controls.email.invalid">
          <span *ngIf="ForgotPasswordform.controls.email.errors.required">Campo obbligatorio</span>
          <span *ngIf="ForgotPasswordform.controls.email.errors.pattern">Inserimento non valido</span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
    [disabled]="!(ForgotPasswordform.valid && ForgotPasswordform.dirty)">
    <mat-icon>send</mat-icon> Invia password
  </button>
  <button mat-raised-button color="warn" mat-dialog-close=""><mat-icon>cancel</mat-icon>chiudi</button>
</mat-dialog-actions>